.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.logo{
  width:250px;
  margin-top: -70px;
  margin-bottom: -80px;
  margin-left: 50px;
}

.navbar{
  position: fixed;
  transition: 1s;
}

.nav-link {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  padding-left: 0 !important;
  padding-right: 0 !important;
  letter-spacing: 3px;
  color: white !important;
  font-family: 'Press Start 2P', cursive;
}

.nav-link:hover {
  opacity: .5;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #F12A46;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: -15px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 5px;
  opacity: 1;
}