@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --primary-white: #fff;
}

/**nav links**/

body {
  font-family: "Roboto" sans-serif;
}

nav a.nav-link {
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;

}

.navbar-collapse{
  margin-right: 25px;
}
